{
  "compilerOptions": {
    "declaration": true,
    "preserveConstEnums": true,
    "module": "commonjs",
    "esModuleInterop": true,
    "target": "es6",
    "noImplicitAny": true,
    "strictNullChecks": true,
    "strictFunctionTypes": true,
    "strict": true,
    "moduleResolution": "node",
    "sourceMap": true,
    "outDir": "dist",
    "allowJs": true,
    "checkJs": true,
    "noUnusedLocals": true,
    "skipLibCheck": true,
    "alwaysStrict": true,
    "baseUrl": ".",
    "paths": {
      "@/*": ["src/*"],
      "@application/*": ["src/application/*"],
      "@database/*": ["src/database/*"],
      "@models/*": ["src/models/*"],
      "@services/*": ["src/services/*"],
      "@middleware/*": ["src/middleware/*"],
      "@node_modules/*": ["node_modules/*"]
    }
  },
  "include": ["src/**/*", "locales"],
  "exclude": ["node_modules"],
  "ts-node": {
    "transpileOnly": true,
    "transpiler": "@swc-node/register",
    "require": ["@swc-node/register", "tsconfig-paths/register"]
  }
}
