{
  "scripts": {
    "dev:services": "cd ./services/ && nodemon",
    "build:services": "cd ./services/ && npm run build",
    "gen:services": "koapp generate ./meta -d ./services/src/modules"
  },
  "dependencies": {
    "${name}-services": "file:services"
  }
}
